.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.container {
    display:flex;
}

.right-panel {
    width: 75%;
}
.navigation{
    background-color: red;
    width: 100%;
}
.main-pane{
    background-color: green;
    height: 100%;
    width: 100%;
}
.viewer-pane{
    background-color: blue;
    height: 200px;
    width: 25%;
}

.phone-viewer{
    position: relative;
    width:100%;
}

.phone-image {
    width: 100%;
}

.in-phone{
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
