.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.navigation{
    /*background-color: red;*/
    width: 100%;
}

.main-pane{
    /*background-color: green;*/
    height: 440px;
    width: 95%;
    border: 1px solid lightgrey;
    border-radius: 10px;
    margin: 10px;
}

.viewer-pane{
    /*background-color: blue;*/
    height: auto;

    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 200%;
}

.phone-viewer{
    width:100%;
}

.phone-image {
    width: 100%;
}

.button-container {
    text-align : center;
}

.btn-action {
    /*background-color: pink;*/
    padding: 8px 30px;
    margin: 10px;
}


.in-phone{
    position: absolute;
    bottom: -520px;
    left: 0;
    width: 75%;
    overflow: scroll;
    font-size: smaller;
    word-wrap: break-word;
    /*background-color: pink;*/
    margin-left: 10%;
    margin-right: 10%;
}

.form-container{
    padding: 25px;
    text-align: left;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.field-input{
    width: 85%;
    resize: none;
    font-size: medium;
}

.in-phone-view{
    height: 500px;
    /*background-color: yellow;*/
}

.field-label {
    padding: 10px 0px 10px 0px;
    font-size: large;
}

@media screen and (min-width: 50em) {
    .main-pane{
        height: 95%;
    }
    .right-panel {
        width: 65%;
    }

    .app-container {
        display: flex;
    }

    .viewer-pane{
        height: auto;
        width: 30%;
        padding-top: 63.37%;
    }

    .in-phone{
        top: 10%;
        left:unset;
        width: 25%;
        height: 80%;
        margin-left: 2%;
        margin-right: 2%;
        margin-top:8%;
        /*background-color: red;*/
    }

    .in-phone-view{
        height: 100%;
        width:100%;
        /*float:right;*/
        /*margin: 10% 12%;*/
    }
}

@media screen and (min-width: 50em) and (max-width: 990px) {
    .in-phone{
        /*width: 20%;*/
        height: 50%;
    }

    .in-phone-view{
        height: 100%;
    }
}

@media screen and (min-width: 990px) and (max-width: 1200px) {
    .in-phone{
        height: 65%;
    }

    .in-phone-view{
        height: 100%;
    }
}