.input-description{
    height: 100px;
}

.website-url{
    position: absolute;
    bottom: 5%;
    width: 80%;
    text-align: center;
    left:0;
    font-size: medium;
    /*background-color: yellowgreen;*/
}
